[Desktop Entry]
Type=Service
Comment=WakaTime
Comment[ast]=WakaTime
Comment[bg]=WakaTime
Comment[bs]=WakaTime
Comment[ca]=WakaTime
Comment[ca@valencia]=WakaTime
Comment[cs]=WakaTime
Comment[da]=WakaTime
Comment[de]=WakaTime
Comment[el]=WakaTime
Comment[en_GB]=WakaTime
Comment[es]=WakaTime
Comment[et]=WakaTime
Comment[fi]=WakaTime
Comment[fr]=WakaTime
Comment[ga]=WakaTime
Comment[gl]=WakaTime
Comment[hu]=WakaTime
Comment[it]=WakaTime
Comment[kk]=WakaTime
Comment[km]=WakaTime
Comment[ko]=WakaTime
Comment[lt]=WakaTime
Comment[lv]=WakaTime
Comment[nb]=WakaTime
Comment[nds]=WakaTime
Comment[nl]=WakaTime
Comment[nn]=WakaTime
Comment[pa]=WakaTime
Comment[pl]=WakaTime
Comment[pt]=WakaTime
Comment[pt_BR]=WakaTime
Comment[ru]=WakaTime
Comment[sk]=WakaTime
Comment[sl]=WakaTime
Comment[sr]=WakaTime
Comment[sr@ijekavian]=WakaTime
Comment[sr@ijekavianlatin]=WakaTime
Comment[sr@latin]=WakaTime
Comment[sv]=WakaTime
Comment[tr]=WakaTime
Comment[ug]=WakaTime
Comment[uk]=WakaTime
Comment[x-test]=xxWakaTimexx
Comment[zh_CN]=WakaTime
Comment[zh_TW]=WakaTime
Name=WakaTime
Name[ast]=WakaTime
Name[bg]=WakaTime
Name[bs]=WakaTime
Name[ca]=WakaTime
Name[ca@valencia]=WakaTime
Name[cs]=WakaTime
Name[da]=WakaTime
Name[de]=WakaTime
Name[el]=WakaTime
Name[en_GB]=WakaTime
Name[eo]=WakaTime
Name[es]=WakaTime
Name[et]=WakaTime
Name[fi]=WakaTime
Name[fr]=WakaTime
Name[ga]=WakaTime
Name[gl]=WakaTime
Name[hu]=WakaTime
Name[it]=WakaTime
Name[ja]=WakaTime
Name[kk]=WakaTime
Name[km]=WakaTime
Name[ko]=WakaTime
Name[lt]=WakaTime
Name[lv]=WakaTime
Name[nb]=WakaTime
Name[nds]=WakaTime
Name[nl]=WakaTime
Name[nn]=WakaTime
Name[pa]=WakaTime
Name[pl]=WakaTime
Name[pt]=WakaTime
Name[pt_BR]=WakaTime
Name[ro]=WakaTime
Name[ru]=WakaTime
Name[sk]=WakaTime
Name[sl]=WakaTime
Name[sq]=WakaTime
Name[sr]=WakaTime
Name[sr@ijekavian]=WakaTime
Name[sr@ijekavianlatin]=WakaTime
Name[sr@latin]=WakaTime
Name[sv]=WakaTime
Name[tr]=WakaTime
Name[ug]=WakaTime
Name[uk]=WakaTime
Name[x-test]=xxWakaTimexx
Name[zh_CN]=WakaTime
Name[zh_TW]=WakaTime
GenericName=WakaTime
GenericName[ast]=WakaTime
GenericName[bg]=WakaTime
GenericName[bs]=WakaTime
GenericName[ca]=WakaTime
GenericName[ca@valencia]=WakaTime
GenericName[cs]=WakaTime
GenericName[da]=WakaTime
GenericName[de]=WakaTime
GenericName[el]=WakaTime
GenericName[en_GB]=WakaTime
GenericName[es]=WakaTime
GenericName[et]=WakaTime
GenericName[fi]=WakaTime
GenericName[fr]=WakaTime
GenericName[ga]=WakaTime
GenericName[gl]=WakaTime
GenericName[hu]=WakaTime
GenericName[it]=WakaTime
GenericName[kk]=WakaTime
GenericName[km]=WakaTime
GenericName[ko]=WakaTime
GenericName[lt]=WakaTime
GenericName[lv]=WakaTime
GenericName[nb]=WakaTime
GenericName[nds]=WakaTime
GenericName[nl]=WakaTime
GenericName[nn]=WakaTime
GenericName[pa]=WakaTime
GenericName[pl]=WakaTime
GenericName[pt]=WakaTime
GenericName[pt_BR]=WakaTime
GenericName[ru]=WakaTime
GenericName[sk]=WakaTime
GenericName[sl]=WakaTime
GenericName[sr]=WakaTime
GenericName[sr@ijekavian]=WakaTime
GenericName[sr@ijekavianlatin]=WakaTime
GenericName[sr@latin]=WakaTime
GenericName[sv]=WakaTime
GenericName[tr]=WakaTime
GenericName[ug]=WakaTime
GenericName[uk]=WakaTime
GenericName[x-test]=xxWakaTimexx
GenericName[zh_CN]=WakaTime
GenericName[zh_TW]=WakaTime
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_wakatime
X-KDE-PluginKeyword=ktexteditor_wakatime
X-KDE-PluginInfo-Name=ktexteditor_wakatime
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
