<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE kpartgui>
<gui name="katewakatime" library="libkatewakatime" version="4" translationDomain="katewakatime">
  <MenuBar>
    <Menu name="settings">
      <text>&amp;Settings</text>
      <Action name="configure_wakatime" />
    </Menu>
  </MenuBar>
</gui>
