<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE kpartgui>
<gui library="libkatewakatime" name="katewakatime" translationDomain="katewakatime" version="4">
  <MenuBar>
    <Menu name="settings">
      <text>&amp;Settings</text>
      <Action name="configure_wakatime" />
    </Menu>
  </MenuBar>
</gui>
